body {
  font-family: 'zen', sans-serif ;
  background-color: #f8f9fa;
  color: #ddc9b4;
  margin: 0;
  padding: 0;
}

header {
  background-color: #2c3e42;
  padding: 16px;
  text-align: center;
  border-bottom: 3px solid #2c3e42;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 32px;
  padding: 0;
}

nav a {
  text-decoration: none;
  color: #ddc9b4;;
  font-weight: 600;
}

nav a:hover {
  color: #ddc9b4;
}

main {
  padding: 32px;
}

section {
  background: white;
  margin: 0 auto;
  padding: 16px 32px;
  border-radius: 10px;
  max-width: 700px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  
}

footer {
  text-align: center;
  padding: 0;
  background: #2c3e42;
  margin-bottom: 0;
}

footer ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  padding: 0;
}

@font-face {
    font-family: 'zen';
    src: url(../fonts/zenserif.ttf) format(truetype);
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
  margin: 0 auto;
}

main {
  flex: 1; 
}

