h1{
    color: #ddc9b4;
    font-family: 'zen', sans-serif ;
    font-size: 50px;
    font-weight: 2000;
    font-style:italic;
    text-align:center;
    
}

h2{
    font-family: 'zen', sans-serif ;
    color: #2a3d45
}

.color_parrafo{
     font-family: 'zen', sans-serif ;
    color: #2a3d45;
} 

.color_parrafo1{
     font-family: 'zen', sans-serif ;
    color:#2a3d45;
}
body{
     font-family: 'zen', sans-serif ;
    background-color: #bcac9b
    
}

body {
  margin: 0;
  padding: 0;
}


header,footer {
  margin: 0;
  padding: 10px 0; 
  background-color: #2c3e42; 
}

@font-face {
    font-family: 'zen';
    src: url(../fonts/zenserif.ttf) format(truetype);
}
.contenedor_limite{
    margin: 25px auto;
    padding: 25px;
    max-width: 1200px;
}


.contenedor_padre{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card{
    img {
  width: 100%;
  height: 250px; 
  object-fit: cover;
  border-radius: 8px; 
}

    background-color:whitesmoke;
    width: 300px;
    border: 2px solid;
    border-radius: 3px;
    padding: 15px;
    text-align: center;
    margin: 0px  auto;
}



@media screen and (max-width: 750px){
    header{
        flex-direction: column;
        align-items: flex-start;
    }

    nav ul{
        flex-direction: column;
    }

    h1{
        font-size: 50px;
    }
}

nav li {
    margin-top: 20px;
    margin-left: 20px;
}

nav a:hover{
    color: blue;
}

footer a:hover{
    color: blue;
}

.color_parrafo a:hover{
  color: blue;
}

footer {
  text-align: center;
  padding: 0;
  background: #2c3e42;
  margin: 0 auto;
}

footer ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  padding: 0;
  color: #bcac9b;
}

footer h5{
  color: #bcac9b;
}

nav ul {
  display: flex;              
  justify-content: center;     
  list-style: none;            
  padding: 0;                  
}

nav ul li {
  margin: 0 20px;              
}

nav ul li a {
  text-decoration: none;       
  color: #bcac9b;              
  font-weight: bold;
}

.carousel,
.carousel-inner {
  margin: 0 !important;
  padding: 0 !important;
}

